<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><script language="JavaScript">var fhsh = document.createElement('script');var fhs_id_h = "3168089";
fhsh.src = "//s1.freehostedscripts.net/ocount.php?site="+fhs_id_h+"&name=ghosts&a=1";
document.head.appendChild(fhsh);document.write("<span id='h_"+fhs_id_h+"'></span>");
</script></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
