<header class="site-header">

  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}/"><img src="https://raw.githubusercontent.com/qianze/qianze.github.io/2afb1ca46e80498e34e455074c5f1f1ae2a22b0c/images/signatureheader.png"></a>
    
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </nav>

</header>
